body{
  background-image: url(imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 920px;
  min-height: 920px;
}
#logo {
  margin-top: 0 ;
  margin-bottom: 10%;
}
span{
  vertical-align: top;
  line-height: 150px;
  font-size: 35px;
  font-family: fantasy;
}

#formulario{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}

#formulario img {
  margin-top: 20px;
  margin: 0 auto;
}
form{
  margin-top: 50px;
}

input{
  margin: 0 auto;
 padding-top: 5px;
 outline: none;
 border: none;
 border-bottom: 1px solid black;
 text-align: center;
 font-weight: bold;
}
label{
  font-weight: bold;
  font-family: sans-serif;

}

#button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
}

#button:hover{
  background-color: white;
  color:black ;
}

#link  a{
  margin: 0px 5px;
  text-decoration: none;
  padding: 5px;
  color: rgb(97, 97, 97);
  background-color: white;
}

#link a:hover{
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;

}

